
Semita/obj/Debug/netcoreapp2\.2/Semita\.assets\.cache

Semita/obj/Debug/netcoreapp2\.2/Semita\.csproj\.CoreCompileInputs\.cache

Semita/obj/Debug/netcoreapp2\.2/Semita\.csprojAssemblyReference\.cache

Semita/obj/project\.assets\.json

Semita/obj/Semita\.csproj\.nuget\.cache

Semita/obj/Semita\.csproj\.nuget\.dgspec\.json

Semita/obj/Semita\.csproj\.nuget\.g\.props

Semita/obj/Semita\.csproj\.nuget\.g\.targets

Semita/bin/Debug/netcoreapp2\.2/

Semita/obj/Debug/netcoreapp2\.2/
